footer{
    background-color: $color-principal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__footer{
    width: 25px;
    height: 25px;
    margin: 10px;
    flex-wrap: wrap;
}