@import "variables";
@import "footer";
@import "operators";





* {
    margin: 0px;/* MARGEN EXTERNO */
    padding: 0px;/* MARGEN INTERNO */
}

h3 {
    color: $color-h3;
    font-style: $font-h3;
    text-transform: capitalize;
    margin: 16px;
}


p {
    color:$color-p;
    margin: 5px;
    font-family: $font-h3;
    display: flex;
    justify-content: center;
} 

label{
    margin: 16px;
    color: $color-p;
}
input{
    margin: 16px;
    padding: auto;
}
ol{
    padding: 25px;
    font-family:$font-element;
}

  /* TITULOS */
.list__title {
    color: $color-title;
    font-family: $font-principal;
    margin: 50px;
} 
.list__subtitle {
    color: $color-subtitle;
    font-family: $font-secundario;
    margin: 10px;
}   
.list__element {
        font-family:$font-element;
        margin: 16px;  
}    
    

  /* IMAGENES */
.fotos__cursos {
    width: 200px;
    padding-right: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}

  /* FLEXBOX */
.main__flex{
    display: flex;
    justify-content: center;
}

/* BOOTSTRAP */
.header{
    background-color: pink !important;
}
.nav-link{
    color:$color-nav;
}

  /* GRIDS */
  /* INDEX GRID */
.index__grid{
    display: grid;
    width: $total-ancho;
    height: $total-alto;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr ;
    grid-template-areas: "croissant imagen-index galletitas-decoradas"
                        "ice-pop imagen-index oreos"
                        "tarta-frutilla imagen-index galletitas";
    row-gap: 5px;
    column-gap: 5px;
    background-color: $color-subtitle;
    
        .croissant{
            @extend .background-derecha;
            grid-area: croissant;
            background-image: url("../resources/croissant.jpg");
        }
        .imagen-index{
            @extend .background-derecha;
            grid-area: imagen-index;
            background-image: url("../resources/imagen-index.jpg");
            
        }
        .galletitas-decoradas{
            @extend .background-derecha;
            grid-area: galletitas-decoradas;
            background-image: url("../resources/galletas-decoradas.jpg");    
        }
        .ice-pop{
            @extend .background-derecha;
            grid-area: ice-pop;
            background-image: url("../resources/ice-pop.jpeg");
        }
        .oreos{
            @extend .background-derecha;
            grid-area: oreos;
            background-image: url("../resources/oreos.jpeg");
        }
        .tarta-frutilla{
            @extend .background-derecha;
            grid-area: tarta-frutilla;
            background-image: url("../resources/tarta-frutilla.jpg");
        }
        .galletitas{
            @extend .background-derecha;
            grid-area: galletitas;
            background-image: url("../resources/galletitas.jpeg"); 
        }
}
  /* GALERIA GRID */
.gallery__grid {
    display: grid;
    height: $total-alto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:"chica-cupcake macarones chica-decorando"
                        "chica-cupcake flor chica-decorando"
                        "decoraciones flor castillo"
                        "decoraciones torta castillo";
    row-gap: 3px; 
    padding: 3px;                  
        .chica-decorando{
            @extend .background-derecha;
            grid-area: chica-decorando;
            display: flex;
            background-image: url("../resources/chica-decorando.jpg");
            color: $color-h3;
            font-size: large;
            justify-content: right;
            align-items: flex-end;
        }
        .chica-cupcake{
            @extend .background-center;
            grid-area: chica-cupcake;
            background-image: url("../resources/chica-cupcake.jpg");
            color: $color-h3;
            font-size: large;
            justify-content: left;
        }
        .macarones{
            @extend .background-center;
            grid-area: macarones;
            background-image: url("../resources/macarones.jpg");
        }

        .torta{
            grid-area: torta;
            background-image: url("../resources/doblecake.jpg" );
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .castillo{
            grid-area: castillo;
            background-image: url("../resources/cake-castillo.jpg");
            background-position: right 55%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .flor{
            @extend .background-derecha;
            grid-area: flor;
            background-image: url("../resources/torta-flor.jpg");

        }
        .decoraciones{
            grid-area: decoraciones;
            background-image: url("../resources/cake.jpg");
            background-position: right 35%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .tarta-frutal{
            grid-area: tarta-frutal;
            background-image: url("../resources/tarta-frutal.jpg");
            background-position: 35% center;
            background-size: cover;
            background-repeat: no-repeat;
        }                    
}

  /* RECETAS GRID */
.recetas__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
    
        .pic__card{
            display: flex;
            background-image: linear-gradient(pink, rgb(239, 135, 153));
            flex-direction: column;
            justify-content: center;
            border:$color-h3 solid 2px;
            border-radius: 10px;
            padding: 16px;
            &__uno{
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &__dos{
                grid-column: 2/3;
                grid-row: 1/2;
            
            }
            &__tres{
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .img__principal--card{    
                height: 250px;
            }
        }
}
.carousel-inner{
    width: 600px;
    height: 500px;
}

.btn{
    margin: 10px;
}

button{
    border-radius: 5px;
    background: linear-gradient($color-principal, $color-subtitle);
    &:hover {
        transform: scale(1.25, 1.25);
        transition: all 2s;
    }
}
.keyframe{
    animation-name: loop;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: 3s;
}
@keyframes loop {
    0%{
        width: 100px;
    }
    25%{
        width: 500px;
    }
    50%{
        background-color: $color-subtitle;
    }
    100%{
        background-color: $color-principal;
        width: 0px;
    } 
}

@import "mediaqueries";
